*.class

# Package Files #
*.jar
*.war
*.ear

# mvn Files
target/


# eclipse
.classpath
.project
.settings/
bin/
logs/

#testdata confidential
src/test/resources/

# Doc confidential
resources/*-doc.xml
